/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

#movies img,
#movie img {
  width: 100%;
}

.brand-text {
  font-size: 2rem;
}

#react-logo {
  color: #00d8ff;
}

#imdb-logo {
  color: #f5de50;
}

@media (min-width: 960px) {
  #movies .col-md-3 .well {
    height: 390px;
  }

  #movies .col-md-3 img {
    height: 240px;
  }
}
